
.imgBasket {
    width: 75px;
    height: 75px;
}

.basketCard {
    display: flex;
    flex-direction: column;
    height: 214px;
    margin-bottom: 30px
}

.basketCardContent {
    height: 107px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-right: 70px;
}

.basketCardBlock {
    display: flex;
    align-items: center;
}

.basketHr {
    border: 0.7px solid #EAEBED;
}

.basketCounter {
    width: 106px;
    height: 38px;
    border-radius: 5px;
    background: #F4F7FB;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.elips {
    width: 7px;
    height: 7px;
    background: #75D14A;
    border-radius: 50%;
}

.basketCounterBtn {
    height: 30px;
    width: 30px;
    background: none;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    &:hover {
        background-color: rgba(37, 37, 37, 0.2);
    }
}

.basketCounterP {

}

.deleteBtn {
    height: 30px;
    width: 30px;
    background: none;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    &:hover {
        background-color: rgba(37, 37, 37, 0.2);
    }
}

.basketCardConteiner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 150px;
}

.basketCardContentBlock {
    display: flex;
    margin-bottom: 20px;
    align-items: center;
}

.basketCounterBlock {
    display: flex;
    width: 60%;
    align-items: center;
    justify-content: space-evenly;
    
}

.basketCardConteinerP {
font-size: 12px;
font-weight: 400;
line-height: 17px;
text-align: left;
color: #5D6C7B;
}

.basketCardContentBlockMargin {
height: 60px;
margin-left: 20px;
display: flex;
flex-direction: column;
justify-content: space-evenly;
}


.selectBlock {
    height: 36px;
    padding: 8px, 15px;
    border-radius: 300px;
    border: 1px solid #EAEBED;
    background: none;
outline: none;
    &:hover {
    border: 1px solid #595959;
    }
}

.basketCardLower {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 15px 10px;
    grid-row-gap: 10px;
    grid-column-gap: 15px;
    width: 70%;
}

.basketCardSelect {
    width: 760px;
    border: 1px solid #EAEBED;
    border-radius: 5px;
    height: 107px;
    margin-bottom: 30px;
}