.MainPage {
	padding: 50px 165px;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
    min-height: 400px;
    justify-content: center;
}

.ulMain {
	display: grid;
    grid-template-columns: repeat(4, 255px);
    grid-row-gap: 30px;
    justify-content: space-between;
    width: 100%;
	margin-bottom: 50px;
}

.titleMain {
	margin-bottom: 30px;
}

.upperContent {
	width: 100%;
    display: flex;
    justify-content: space-between;
	align-items: center;
	margin-bottom: 50px;
}

.upperBtn {
	height: 37px;
    border-radius: 5px;
    color: #5D6C7B;
	background: #F4F7FB;	
    padding: 0 15px;
	border: none;
	border: 1.3px solid #F4F7FB;
	&:hover {
		border: 1.3px solid #6F73EE;
		background: none;	
		color: #6F73EE;
	}
	transform: 0.5s hover;
}

.blockBtn {
	width: 450px;
    display: flex;
    justify-content: space-between;
}

.btnCenter {
width: 142px;
height: 53px;
padding: 15px, 25px;
border-radius: 5px;
color: #6F73EE;
background: none;
border: 1.3px solid #6F73EE;
margin-bottom: 110px;
&:hover {
	border: 1.3px solid #6F73EE;
	background: none;	
	color: #6F73EE;

}
}

.informationBanner {
width: 540px;
height: 235px;
border-radius: 10px;
background: #F4F7FB;
overflow: hidden;
}

.informationBlock {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.informationBlockLiftImg {
    position: relative;
    left: 268px;
    top: -245px;
    z-index: 9;
}

.informationBlockRigthImg {
	position: relative;
    left: 268px;
    top: -245px;
    z-index: 9;
}

.informationBlockEllipse {
	position: relative;
    left: 315px;
    top: -510px;
}

.informationBlockShadow {
    position: relative;
    left: 210px;
    top: -800px;
}

.titleInformationBlock {
	margin: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 164px;
}

.informationBlockBtn {
	background: none;
	color: #6F73EE;
	border: none;
	cursor: pointer;
	display: flex;
	align-items: center;
}

.informationBlockBtnP {
font-size: 14px;
font-weight: 400;
line-height: 20px;
margin-right: 7px;
}

.textInformationBlock {
	font-size: 14px;
    font-weight: 300;
    line-height: 23px;
}
