.itemDetali {
    display: flex;
}

.blockRigthInfo {
    width: 370px;
    display: flex;
    justify-content: space-between;
}

.blockRigthInfoText {
color: #5D6C7B;
opacity: 0.7;
font-size: 12px;
font-weight: 400;
line-height: 17px;
}

.blockRigth {
    width: 32%;
}